@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: montserrat;
    list-style: none;
    

}


body, html {

    width:  100%;
    height: auto;
    
    
}


.punto {

    height: 1px;
    width: 1px;
    z-index: -10;
    position: absolute;
    top: 0;
}
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 330px;
    background: linear-gradient(to top, rgb(180, 149, 109), burlywood);
}



a {

    text-decoration: none;
    color: unset;
}

/* HEADER */

header {

    height: 110px;
    background-color: #e0dbd5;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    min-width: 330px;
    box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.373);
    z-index: 10;
    top: 0;
    position: sticky;

}

.nav-header {

    width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.ul-header {

    display: flex;
    gap: 60px;
    font-size: 18px;
    font-weight: 600;

}

.ul-header li {

    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}

.ul-header li:hover:after {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4px;
    top: 30px;
    background-color: rgb(171, 127, 69);
    width: 100%;
    animation-name: hover-header;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
  }

  .ul-header li:hover {

    text-shadow: 1px 1px 2px rgb(202, 202, 202);
  }

  @keyframes hover-header {
    0% {
      width: 10px;
    }
  
    100% {
      width: 100%;
    }
  }

  .nav-header input, label {

    display: none;
  }
  
  

/* HEADER */

/* SECCIÓN UNO */

.seccion-uno {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.625);
    flex-wrap: wrap;
    background-image: url(/assets/goya.jpg);
    background-size: cover;
    min-width: 330px;
    

}


.caja-texto-uno, .caja-imagen-uno {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 400px;
    
    
    padding: 30px;
    
}

.caja-texto-uno {

    max-width: 700px;
    min-width: 320px;

}



.caja-imagen-uno {
        max-width: 500px;
        min-width: 320px;
   
}

.caja-texto-uno h1, .caja-texto-uno span {
    background-color: white;
    padding-right: 10px;

    font-family: league gothic;

    font-size: clamp(50px, 4vw, 80px);
    font-weight: 400;
    }

.caja-texto-uno span {

    
    color: rgb(156, 117, 66);
}


.caja-texto-uno p {

    padding-top: 20px;
    font-size: clamp(22px, 2vw, 30px);
    line-height: 2;
    
    background-color: rgb(235, 235, 235);
    padding: 10px;
}

.titulo {
    
    width: auto;
    display: flex;
    
}

/* SECCIÓN UNO */

/* SECCIÓN DOS */

.seccion-dos {
    width: 100%;
    height: auto;
    background-color: rgba(232, 232, 232, 0.413);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}


.caja-seccion-dos {

    background-color: rgba(255, 255, 255, 0.758);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cursos, .experiencias, .contacto {

    top: -100px;
    
}

h4 {

    background-color:rgb(105, 79, 45);
    color: white;
    font-size: clamp(25px, 2.5vw, 40px);
    margin-top: 50px;
    padding: 5px;
    max-width: 90%;
    text-align: center;
}

.caja-items {
    
    height: auto;
    width: 90vw;
    
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-top: 70px;
    
   

}

.caja-logo img {

    height: 79px;
    width: 179px;
}

.item {

    height: 230px;
    width: 180px;
    
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    border: 4px solid rgb(39, 39, 39);
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}


.item-1 {

    background-image: url(/assets/zizek.jpg);
    background-size: cover;
    
    
}

.item-1:hover {

    color: #636363
}

.item-2 {

    background-image: url(/assets/benjamin.jpg);
    background-size: cover;
    
    
}

.item-2:hover {

    color: #64c474;
}


.item-3 {

    background-image: url(/assets/foucault.jpg);
    background-size: cover;
    
    
}

.item-3:hover {

    color: #64a1c0;
}


.item-4 {

    background-image: url(/assets/kant.jpg);
    background-size: cover;
    
    
}

.item-4:hover {

    color:#657ff0

}
.item-5 {

    background-image: url(/assets/spinoza.jpg);
    background-size: cover;
    
}


.item-5:hover {

    background-size: cover;
    color: #987024;
}

.item-6 {

    background-image: url(/assets/descartes.jpg);
    background-size: cover;
  
    
}

.item-6:hover {

    color: #f06565
}

.item-7 {

    background-image: url(/assets/sigloxx.jpg);
    background-size: cover;
    
}

.item-7:hover {

    color: #a367a6

}

.item-8 {

    background-image: url(/assets/sigloxix.jpg);
    background-size: cover;
    
    
}

.item-8:hover {

    color: #a7a466
}


.item:hover {

    filter: grayscale(0%);
    transition: 0.5s all ease;
    transform: scale(1.01);
    

    
}




.item:hover h3 {

    
    transform: scale(1.005);
    
}


.item-7:after, .item-8:after

{
    content: "NUEVO";
   width: 100px;
   height: 20px;
   padding: 10px;
   background-color: red;
   color: white;
   top: 0;
   right: -20px;
   position: absolute;
   transform: rotate(30deg);
   text-align: center;
   font-weight: bold;
   
}

h3 {
    text-transform: uppercase;
    background-color: white;
    width: 100%;
    height: 45px;
    
    border-radius: 0px 0px 18px 18px;
    
    
    text-align: center;
    padding: 12px;
    
}

/* SECCIÓN DOS */

/* SECCIÓN TRES */
.seccion-tres {
    width: 100%;
    height: auto;
    background-color: rgba(232, 232, 232, 0.200);
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 330px;
    position: relative;

    
    
}

.caja-experiencias {
    min-width: 330px;
    height: auto;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.377);
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
}


article {
    
    display: grid;
    grid-auto-flow: column;
    height: auto;
    width: 75%;
    background-color: rgb(236, 236, 236);
    place-items: center;
    gap: 40px;
    position: relative;
    box-shadow: 8px 8px 0px rgb(216, 174, 119);
    padding: 10px;
    
}

article:hover {

    transform: scale(1.01);
    cursor: pointer;
    transition: 0.3s all ease;

}
.estrellas {
   color:rgb(105, 79, 45);
    display: flex;
    gap: 10px;
    
}

h5 {
    font-weight: 400;
    width: 200px;
    font-size: 30px;
    
}

.estrellas-titulo {
    padding: 20px;
    
 
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.titulo-curso {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;

}
article:nth-child(2) {

    width: 85%;
}

article:nth-child(3)

{

    width: 95%;
}


article blockquote {
    width: auto;
    font-size: clamp(20px, 1.5vw, 25px);
    padding: 20px;
    line-height: 1.5;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 150px;
    background-color: rgb(176, 176, 176);
    gap: 10px;
}

.caja-foto-perfil {
    
    border-radius: 90px;
    height: 70px;
    width: 70px;
    background-image:url(/assets/no-image.png);
    background-size: contain;
    border: 3px solid black;
   
}

.martin {

    background-image: url(/assets/persona.png);
    
}

.nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    background-color:rgb(105, 79, 45);
}

.usuario h5 {
    text-align: center;
    color: white;
    font-size: 20px;
}
.benjamin span {
    
    font-size: 30px;
    color: #64c474;
    font-weight: 600;
    width: 200px;
}
.sigloxix span {
    font-size: 30px;
    color: #a7a466;
    font-weight: 600;
    width: 200px;
}

.sigloxx span {
    font-size: 30px;
    color: #a367a6;
    font-weight: 600;
    width: 200px;
    
}

.titulo-curso {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
        
}

.titulo-curso h5, .titulo-curso span {

    text-align: left;
}


/* SECCIÓN TRES */

/* SECCIÓN CUATRO */
.seccion-cuatro {

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90vw;
    padding: 110px 20px;
    background-color: rgba(255, 255, 255, 0.638);
    background-image: url(/assets/angelus.png);
    background-size: cover;
    min-width: 330px;
    position: relative;

}


.caja-contacto

{
    display: flex;
    flex-wrap: wrap;
    min-width: 325px;
    width: auto;
    height: auto;
    background-color: rgb(197 159 110 / 63%);
    box-shadow:0px 0px 15px rgb(105, 79, 45);
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    gap: 10px;
    

    
}

.caja-contacto:before {

    content: "";
    background-image: url(/assets/logodoss.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 136px;
    width:  320px;
    position: absolute;
    top: -87px;
}

.caja-contacto-redes {

    display: grid;
    grid-auto-flow: row;
}

.caja-redes {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    font-size: 30px;
    color: white;
    width: 100%;
    height: 70px;
    background-color: rgb(105, 79, 45);
    border-radius: 0px 0px 20px 20px;
    box-shadow:0px 0px 15px rgb(105, 79, 45);
}

.caja-redes i {

    cursor: pointer;
    transition: 0.5s;
    
}



  .fa-twitter:hover {

    color: #8ecdf3;
    text-shadow: 0px 0px 10px #8ecdf3;;
  }

  .fa-facebook:hover {
  color: #98add9;
  text-shadow: 0px 0px 10px #98add9;

}

.fa-instagram-square:hover {
  color: #de799b;
  text-shadow: 0px 0px 10px #de799b;
  

}

.contacto-info {
    max-width: 700px;
    min-width: 300px;
    background-color: white;
    border-radius: 20px;

    height: auto;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.contacto-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 400px;
    



}


.caja-general {

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto-info h6 {

    font-size: 20px;
}



.contacto-info h5 {

    background-color:rgb(105, 79, 45);
    color: white;
    font-size: 24px;
    font-weight: 600;
    width: 200px;
    padding: 4px;
}

.cajadato {

    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
/* SECCIÓN CUATRO */

 /* SECCIÓN TRESB */

 .paranceles {

    position: absolute;
    top: -120px;
 }

 .seccion-tresb {
    width: 100%;
    height: auto;
    background-color: rgba(232, 232, 232, 0.073);
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 330px;
    position: relative;

    
    
}

.caja-aranceles {
    min-width: 330px;
    height: auto;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.661);
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 50px;
}


.aranceles {
   display: flex;
   flex-direction: column;
   gap: 60px;
   justify-content: center;
   align-items: center;
    padding: 50px; 
    text-align: center;
    
    min-width: 310px;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 20px;
    height: auto;
}


.logo-titulo-arancel {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.logo-titulo-arancel h4 {

    margin-top: unset;
}

.aranceles h4 {

    margin-top: unset;
    padding: 10px;
    font-size: clamp(20px, 2vw, 36px);
}

.aranceles span {

    font-size: 30px;
}

.aranceles h6 {

    font-size: 30px;
    padding: 10px;
}



    /* SECCIÓN TRESB */


    /* FOOTER*/
    
footer {
    height: auto;
    background-color: #e0dbd5;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    min-width: 330px;
    gap: 10px;

}

footer li {

    cursor: pointer;
}
footer p, footer span {

    background-color: white;
    padding-right: 10px;

    font-family: league gothic;
    font-size: 40px;
}

footer span {

    color: rgb(156, 117, 66);
    
    top: 10;
   
}

.nombre-footer {
    position: relative;
    display: flex;
    
}

.derechos {

    display: flex;
    justify-content: flex-end;
}

.derechos p {
    font-family: montserrat;
    background: none;
    font-size: 20px;
    font-weight: bold;
}

.info-footer {

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ul-footer {

    gap: 40px;
    display: flex;
}

 /* FOOTER*/

/* MEDIA QUERYS */




@media screen and (max-width: 1320px) {

    .ul-header li:hover:after {

        display: none;
    }

    .ul-header {

        pointer-events: none;
        opacity: 0;
        width: 0px;
        height: 0px;
        padding: unset;
        gap: unset;
        font-size: 0px;
    }
    
    .nav-header label {

        display: block;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 35px;
        font-size: 30px;
    }

    .nav-header input:checked ~ ul {

        font-size: 18px;
        pointer-events: unset;
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        background-color:#e0dbd5;
        width: 50vw;
        opacity: 1;
        position: absolute;
        top: 110px;
        right: 5vw;
        border-right: 4px solid rgb(171, 127, 69);
        border-left: 4px solid rgb(171, 127, 69);
        border-top: 4px solid rgb(171, 127, 69);
        transition: all 0.8s ease;
       
    }

    .ul-header li {

        padding: 25px 0px;
        border-bottom: 4px solid rgb(171, 127, 69);
    }

    .ul-header li:hover {

        background-color:#cfcac3;
        
    }

    .titulo-curso {
       
        justify-content: flex-start;
        text-align: left;
    }

    @media screen and (max-width: 900px) {

        .estrellas-titulo {

            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h5 {

            width: 80%;
            text-align: center;
        }

        .caja-experiencias {
            padding-top: 50px;
            padding: 20px;
            gap: 40px;
            justify-content: center;
            align-items: center;
            }

        article {
            min-width: 300px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            box-shadow: 2px 2px 0px rgb(216, 174, 119);
            

        }

        article blockquote {

            text-align: center;
        }

        .usuario {

            padding: 20px;
        }
        .titulo-curso h5, .titulo-curso span {

            text-align: center;
        }
    }

    .titulo-curso {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
   

    @media screen and (max-width: 730px) {


       
         
        .ul-footer {

            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

    

        footer p, footer span {

            font-size: 30px;
        }

        footer {
            flex-direction: column;
           
            align-items: center;
            padding: 20px;
            gap: 20px;
        }

        .derechos {

            text-align: center;
        }

        .info-footer {

            gap: 20px;
        }

        footer li {

      
            height: auto;
            text-align: center;
            line-height: 1.6;
        }

        .logo-titulo-arancel {

            flex-direction: column;
        }
    }
    
 

}



 /* SECCIÓN REGISTRO/ACCESO */
.caja-registro {
    margin-top: 90px;
    background-color: rgba(255, 255, 255, 0.835);
    min-width: 300px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    flex-direction: column;
    border-radius: 20px;
    gap: 25px;
    position: relative;
    
}

.caja-registro label {

    display: block;
}

.main-dos { 
    padding: 20px 30px;

    height: auto;
    min-height: 100vh;
    background: linear-gradient(to top, #dec9ac, #d7c3a8);
    justify-content: flex-start;
    background-image: url(/assets/angelus.png);
    background-size: cover;
}

.campos {

    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.caja-registro h4 {
    margin-top: 25px;
    font-size: clamp(18px, 1.5vw, 32px);
}

.campos input {
    margin-top: 5px;
    width: 240px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #432401;
    padding-left: 10px;
    box-shadow: 0px 0px 10px #4324015e;;
}

.caja-registro button {

    margin-top: 5px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid #432401;
    padding-left: 10px;
    box-shadow: 0px 0px 10px #4324015e;;
}

.caja-registro button:hover {

    box-shadow: 5px 5px 0px #432401;
    transition: 0.3s all ease;
    cursor: pointer;
    
}
    .caja-registro:before {
        content: "";
        background-image: url(../assets/logodoss.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 136px;
    width:  320px;
    position: absolute;
    top: -87px;
        
    }

    
@media screen and (max-width: 400px) {

    .caja-registro {

       margin-top: 70px;
    }
}


 /* SECCIÓN REGISTRO/ACCESO */